<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1517620114540-4f6a4c43f8ed?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1750a6bc655070f8295a1ddf872a4c7c&auto=format&fit=crop&w=2100&q=80');">
  <div class="banner-content">
    <h1>Cocktail</h1>
    <p>
      <span id="banner-typer-text"></span>
    </p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
